
{% extends 'DemoBundle::base.html.twig' %}

{% block page %}

    <div>
        <h2>Bienvenue sur le blog !</h2>

        <p>Votre message : {{ message }}</p>

        {{ form_start(form, {'action': path('blog_envoyer_message'), 'method': 'POST'}) }}

            {{ form_label(form.message) }}
            {{ form_widget(form.message, {'attr': {'value': message }}) }}

            {{ form_widget(form) }}
            {{ form_errors(form) }}

            <button type="submit">Envoyer</button>

        {{ form_end(form) }}
    </div>

{% endblock %}